/target/
!.mvn/wrapper/maven-wrapper.jar
doc/
logs/

### STS ###
.apt_generated
### .classpath
.factorypath
### .settings
.springBeans
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.mvn/